.list-icon {
  cursor: pointer;
}

.underlay {
  background-color: rgba(0, 0, 0, 0.3);
  visibility: hidden;
}

.sidebar {
  transform: translateX(-100%);
  transition: all 0.4s ease-in-out;
}

.hero-images {
  position: absolute;
  opacity: 0;
  transition: all 0.2s ease;
}

.hero-image1 {
  z-index: 22;
  opacity: 1;
}

.explore {
  margin-top: 410px;
}

.explore-scroll {
}
